@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin: 10;
    padding: 10px;
    background-image: url("background.jpg");
}

.score {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
    font-size: 20px;
} 

.restart {
    background-color:#bdddde;
    border-color: #799798;
    border-style: solid;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 700; 
    margin-top: 30px;
    margin-bottom: 10px;
}

.restart:hover {
    cursor: pointer;
}

nav {
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav a.gamestartpage {
    margin: 15px;
    text-decoration: none;
    color: #6eaaac;
    font-weight: bold;
}

nav a.homepage {
    margin: 15px;
    text-decoration: none;
    color: #6eaaac;
    font-weight: bold;
}