@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    margin: 10;
    padding: 10px;
    background-image: url("background.jpg");
}

header h1 {
    color: #98b8b9;
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: rgb(92, 122, 117);
    font-size: 60px;
    font-weight: 600;
    margin: 5px;
    line-height: 1;
}

header h1:after {
    content:"";
    height: 8px;
    width: 400px;
    background-color: #90afb0;
    display: block;
    margin: auto;
}

.game-rules {
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

.game-rules h3 {
    font-size: 25px;
    margin: 5px;
}

.game-rules p {
    margin-top: 2px;
}

.start {
    background-color:#bdddde ;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-color: #799798;
    border-style: solid;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 700; 
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.start:hover {
    cursor: pointer;
}

nav{
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
nav a {
    margin: 15px;
    text-decoration: none;
    color: #6eaaac;
    font-weight: bold;
}